body{
width: 95%;
max-width: 800px;
margin: auto;
font-family: lato;
line-height: 1.5;
background: url(img/bg.jpg);
color: white;

}
main{
background: #00000054;
padding: 5px 40px;
margin-top: 20px;
border-radius: 10px;

}
.logo,.band-name,.headline{
text-align: center;
margin: 0%;
}
.concerts{
margin: 30px 0;
text-align: center;
width: 100%;
}
.concerts table{
background:#a32d2d;
border-radius: 10px;
padding: 10px;
margin: 0%auto;

}
